body
{
    padding: 5px 5px 5px 5px;
    border: 5px double black;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
}

header {
    margin: 15px;
    border: 5px dotted red;
    border-color: black;
    background-color: lightsteelblue;
}

ul {
    padding: 5px 30px 5px 30px;
    border: 2px solid black;
    background-color: whitesmoke;
}

li:nth-child(even) {
    background-color: lightgray;
}

.game {
    margin-top: 0px;
    margin-bottom: 0px;
    color: darkslategray;
}

/*Would like to learn how to add custom fonts > look up how to add .ttf files to projects*/
#wind-waker {
    font-family: fantasy;
}

#colossus {
    font-family: 'Copperplate Gothic', fantasy;
    
}

#snake-eater {
    font-family: Arial, Helvetica, sans-serif;
}

#wayward {
    font-family: "Open serif", sans-serif;
}

h4 {
    margin-bottom: 0px;
    font-style: italic;
}

p {
    font-size: 12px;
}