body
{
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
}

header {
    margin: 0;
    border: 25px;
    border-color: black;
    background-color: lightsteelblue;
}

ul {
    list-style-type: lower-roman;
}

.game {
    color: darkslategray;
}

#wind-waker {
    font-family: fantasy;
}

#colossus {
    font-family: 'Copperplate Gothic', fantasy;
    
}

#snake-eater {
    font-family: Arial, Helvetica, sans-serif;
}

#wayward {
    font-family: "Open serif", sans-serif;
}
